body { font-family: arial; background-color: #333; font-size: 18px; color: #369; padding: 15px; }
span { margin: 2px; float: left; width: 100%; }
#device_links span { width: auto; margin: 10px; }
#device_links span:hover { cursor: pointer; }

.separator { clear: both; }

#hide_translations { float: right; color: #666; }

.highlight { background-color: #555; }
.hidden { display: none; }

.translation { color: #456; }
.translation a:link {color: #555}
.translation a:visited {color: #555}

h4 { font-size: 1.3em; text-align: center; padding: 30px 5px 5px 5px; color: #ccc; clear: both; }
.error { font-size: 1.8em; color: #f00; }

#footer { float: left; width: 100%; margin: 20px 0 0 0; text-align: center; font-size: 0.8em; color: #555; }

#footer a:link {text-decoration: none; color: #444}
#footer a:visited {text-decoration: none; color: #444; }

#announcement_header { font-size: 0.7em; margin: 5px 0; color: #f66; width: 100%; text-align: center; }
#announcement_text { font-size: 0.7em; color: #f66; width: 100%; text-align: center; }

#announcement_header:hover { cursor: pointer; }

a:link {text-decoration: none; color: #AAA}
a:visited {text-decoration: none; color: #AAA; }
a:hover {text-decoration: underline; }
