<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="Changelog of {{ custom_rom|upper }} builds ({{ branch }}) for {{ manufacturer|capfirst }} {{ device|capfirst }}{% if dev_title %} ({{ dev_title }}){% endif %}" />
		<meta name="keywords" content="Android, {{ keywords }}, {{ custom_rom|upper }}, {{ manufacturer|capfirst }}, {{ device|capfirst }}{% if dev_title %}, {{ dev_title }}{% endif %}, {{ branch }}, changelog, build" />
		<title>{{ custom_rom|upper }} changelog for {{ manufacturer|capfirst }} {{ device|capfirst }}{% if dev_title %} - {{ dev_title }}{% endif %}</title>
		<link rel="alternate" type="application/rss+xml"
			  href="/rss/{{ device }}/{{ branch }}" title="Changelog for {{ manufacturer|capfirst }} {{ device|capfirst }} builds ({{ branch }}) as RSS feed">
		<link rel="stylesheet" type="text/css" href="/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
		<script type="text/javascript">
			var branch = "{{ branch }}";
			var manufacturer = "{{ manufacturer|capfirst }}";
			var device = "{{ device }}";
			var dev_title = "{{ dev_title }}";
			var cl_server = "{{ changelog_server }}";
			var custom_rom = "{{ custom_rom }}";
			var build_url = "{{ build_url }}";
			var gerrit_url = "{{ gerrit_url }}";
			var ga_id = "{{ ga_tracking_id }}";
			var types = ['{{ types|join:"', '" }}'];
		</script>
		<script type="text/javascript">
			if (ga_id) {
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', ga_id]);
				_gaq.push(['_setDomainName', '{{ url }}']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			}
			
			function gaOutLink(link, category, action) {
				if (ga_id) {
					try {
						_gaq.push(['_trackEvent', category , action]);
						setTimeout('document.location = "' + link.href + '"', 100)
					} catch(err) {}
					return false;
				} else {
					return true;
				}
			}
		</script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
		<script src="/js/jquery.xdomainajax.js" type="text/javascript"></script>
		<script src="/js/jquery.cookie.js" type="text/javascript"></script>
		<script src="/js/nightlies.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="device_links">
			{% for manufacturer in devices.nav_list %}
				<span class="manufacturer" id="nav_{{ manufacturer.name }}"><a>{{ manufacturer.name|capfirst }}</a></span>
				<ul class="hidden" id="{{ manufacturer.name }}">{% for dev in manufacturer.dev_list %}
					<li><span><a href="/{{ dev.name }}/{{ dev.branch }}">{{ dev.name|capfirst }}{% if dev.title %} - <span class="dev_title">{{ dev.title }}</span>{% endif %}</a></span></li>{% endfor %}
				</ul>
			{% endfor %}
		</div>

		<div id="select_options">
			<div id="options_changes">
				<form action="">
					<fieldset>
						<label for="current_device">Device:</label>
						<span id="current_device">{{ device|capfirst }}{% if dev_title %} - {{ dev_title }}{% endif %}</span>
					</fieldset><span class="sep"></span>{% if branches|length > 1 %}<fieldset>
						<label>Branch:</label>{% for branch in branches %}
						<input type="radio" id="branch_{{ branch }}" class="select_branch" name="branch" value="{{ branch }}"> {{ branch }}</input>{% endfor %}
					</fieldset><span class="sep"></span>{% endif %}<fieldset>
						<label>Hide type:</label>
						{% for type in types %}
						<input type="checkbox" id="hide_type_{{ type|lower }}"> {{ type }}</input>{% endfor %}
					</fieldset><span class="sep"></span><fieldset>
						<label for="hide_them">Hide translations:</label>
						<input type="checkbox" id="hide_them" />
					</fieldset>
				</form>
			</div>
			<div id="options_rss_gplus">
				<div id="gplus"><div class="g-plusone" data-size="small"></div></div>
				<a id="rss_ref_top" class="rss" type="application/rss+xml" href="/rss/{{ device }}/{{ branch }}" onclick="return gaOutLink(this, 'RSS Feed', this.href);"><img alt="rss feed" src="/img/rss.gif" title="Changelog for {{ manufacturer|capfirst }} {{ device|capfirst }} builds ({{ branch }}) as RSS feed"></a>
			</div>
		</div>
		
		<hr class="separator" />

		<div id="info_text" class="info_text"></div>

		<div id="announcement_header"></div>
		<div id="announcement_text"></div>

		<div id="merged_changes">Please wait, while loading changesets and nightlies...</div>

		<div id="footer">
			<hr class="separator" />
			Support for <a href="http://aokp-log.appspot.com/{{ device }}/{{ branch }}">AOKP</a> builds by <a href="http://www.awalon.de/">awalon</a>. Fork of <a href="https://github.com/tonky/gae-cm-nightlies">gae-cm-nightlies (&copy; by tonky)</a> on <a href="https://github.com/awalon/gae-cm-nightlies">github</a>. Feedback is welcome.
			<a id="rss_ref" class="rss" type="application/rss+xml" href="/rss/{{ device }}/{{ branch }}" onclick="return gaOutLink(this, 'RSS Feed', this.href);"><img alt="rss feed" src="/img/rss.gif" title="Changelog for {{ manufacturer|capfirst }} {{ device|capfirst }} builds ({{ branch }}) as RSS feed"></a>

			<script type="text/javascript">
				(function() {
					var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					po.src = 'https://apis.google.com/js/plusone.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				})();
			</script>
		</div>
	</body>
</html>
