<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CyanogenMod nightlies changelog for {{ for_device|capfirst }}</title>
    <link rel="alternate" type="application/rss+xml"
          href="/rss?device={{ for_device }}&branch={{ for_branch }}" title="{{ for_device|capfirst }} builds as RSS feed">
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery.xdomainajax.js" type="text/javascript"></script>
    <script src="/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="/js/nightlies.js" type="text/javascript"></script>
  </head>
  <body>
      <div id="device_links">
          {% for manufacturer in devices.nav_list %}
              <span class="manufacturer" id="nav_{{ manufacturer.name }}"><a>{{ manufacturer.name|capfirst }}</a></span>

              <ul class="hidden" id="{{ manufacturer.name }}">
                  {% for device in manufacturer.dev_list %}
                    <li>
                      <span><a href="/?device={{ device.name }}&branch={{ device.branch }}">{{ device.name|capfirst }}</a></span>
                    </li>
                  {% endfor %}
              </ul>
          {% endfor %}
          
      </div>

      <div id="select_options">
          <form action="">
              <fieldset>
                  <label for="current_device">Device:</label>
                  <span id="current_device"></span>
              </fieldset><span class="sep"></span><fieldset>
                  <label>Branch:</label>
                  {% for branch in branches %}
                      <input type="radio" id="branch_{{ branch }}" class="select_branch" name="branch" value="{{ branch }}"> {{ branch }}</input>
                  {% endfor %}
                  
              </fieldset><span class="sep"></span><fieldset>
                  <label>Hide type:</label>
                  <input type="checkbox" id="hide_type_kang"   > KANG</input>
                  <input type="checkbox" id="hide_type_nightly"> nightly</input>
                  <input type="checkbox" id="hide_type_rc"     > RC</input>
                  <input type="checkbox" id="hide_type_stable" > stable</input>
              </fieldset><span class="sep"></span><fieldset>
                  <label for="hide_them">Hide translations?</label>
                  <input type="checkbox" id="hide_them" />
              </fieldset>
          </form>
      </div>

      <hr class="separator" />

      <div id="info_text" class="info_text"></div>

      <div id="announcement_header"></div>
      <div id="announcement_text"></div>

      <div id="merged_changes">Please wait, while loading changesets and nightlies...</div>

      <div id="footer">
          &copy; <a href='mailto:gtonky@gmail.com'>Igor Tonkopryadchenko aka TonKy</a> aka xda:igor.tonky.
          <a href="https://github.com/awalon/gae-cm-nightlies">github source </a>.
          Feedback is welcome. (KANG-ext. by <a href="http://www.awalon.de/">Awalon</a>)
          <a id="rss_ref" class="rss" type="application/rss+xml" href="/rss?device={{ for_device }}&amp;branch={{ for_branch }}"><img alt="rss" src="/img/rss.gif"></a>
      </div>
  </body>
</html>
